@keyframes rotation {
	from {
	}
	to {
		transform: rotate(360deg);

	}
	25% {
		color: green;
	}
	50% {
		font-size: 75px;
		color: pink;
	}
	75% {
		color: yellow;
	}
}
.bg{
	background: url(py.jpg);
	display:block;
	/*border: 2px white solid;*/
}
.header{
	font-weight: bold;
	color:darkgray;
	display:block;
	justify-content: center;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	/*border: 2px white solid;*/
}
.button{

	border: 3px darkgray dashed;
	text-align: center;

}
.button:visited{
	color:darkgray;
}
.button:hover {
	animation-duration: 2s;
	animation-name: rotation;
 	color: #e3e3e3;
 	overflow: hidden;
 	animation-delay: 
}
.small_header{
	font-style: italic;
	color:darkgray;
	font-size: 22px;

}
.block{
	width: 150px;
	height: 455px;
	display: block;
	margin-left:735px;
	margin-right: auto;


}

.had{
	display: flex;
	justify-content: flex-start;
	display: flex;
	z-index: 2;
	width: 400px;
	/*border: 2px white solid;*/
	position: absolute;
	right: -70px;
	top:100px;
	transform: rotate(-95deg);
	
	

}
.froggo{
	display: flex;
	justify-content: flex-end;
	display: flex;
	z-index: 2;
	width: 400px;
	/*border: 2px white solid;*/
	align-items: flex-start;
	position: absolute;
	left:120px;
	top:140px;

}
.turt{
	position: absolute;
	z-index: 2;
	right: 125px;
	bottom: 100px;
}
.frog{
	position: absolute;
	z-index: 2;
	left:93px;
	top:330px;
	transform: rotate(2deg);
}
